
.main-container {
    height: 100vh;
    flex-direction: column;
}

.board-container {
    position: relative;
    background-color: rgba(255, 0, 0, 0.5);
}

.status {
    width: 272px;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 30px;
    font-size: large;
    font-weight: 700;
}

.cell {
    height: 30px;
    width: 30px;
    margin: 2px;
    background-color: white;
}

.hidden {
    background-color: grey;
}

.row {
    display: flex;
}

.bomb {
    background-color: red;
}